@use "../abstracts/variables" as *;

.calculator {
    &__button {
        font-size: 3rem;
        font-family: $font-primary;
        border: 1px solid black;
        color: black;
        text-decoration: none;
        touch-action: manipulation;

        &--number {
            background-color: orange;
        }

        &--operator {
            background-color: lightcoral;
        }

        &--function {
            background-color: lightgrey;
        }

        &:active {
            filter: brightness(130%);
          }
        
        &--pressed {
            filter: brightness(130%);
        }
    }
}

@media only screen and (min-width: 768px) {
    .calculator {
        &__button {
            &:hover {
                filter: brightness(80%);
              }
        }
    }
}