@use "../abstracts/variables" as *;

.calculator {
    &__button {
        font-size: 3rem;
        font-family: $font-primary;
        border: 1px solid black;

        &--number {
            background-color: orange;
        }

        &--operator {
            background-color: lightcoral;
        }

        &--function {
            background-color: lightgrey;
        }
    }
}