@use "../abstracts/mixins" as *;
@use  "../abstracts/variables" as *;

body {
    @include flexCenter(column);
    justify-content: flex-start;
    height: 100vh;
    background-color: $color-background;
}

@media only screen and (min-width: 768px) {
    body {
        @include flexCenter(column);
    }
  }