@use "../abstracts/variables" as *;

// Grid Rules

.calculator {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(6, 1fr);
    grid-auto-flow: row;
    grid-template-areas:
      "calculator__display calculator__display calculator__display calculator__display"
      "clear polarity percentage divide"
      "seven eight nine multiply"
      "four five six subtract"
      "one two three add"
      "zero zero decimal-point calculate";
    width: 100vw;
    height: 90vh;
  }
  
.calculator__display { grid-area: calculator__display; }
  
.clear { grid-area: clear; }

.polarity { grid-area: polarity; }

.percentage { grid-area: percentage; }

.divide { grid-area: divide; }

.multiply { grid-area: multiply; }

.subtract { grid-area: subtract; }

.add { grid-area: add; }

.calculate { grid-area: calculate; }

.one { grid-area: one; }

.two { grid-area: two; }

.three { grid-area: three; }

.four { grid-area: four; }

.five { grid-area: five; }

.six { grid-area: six; }

.seven { grid-area: seven; }

.eight { grid-area: eight; }

.nine { grid-area: nine; }

.zero { grid-area: zero; }

.decimal-point { grid-area: decimal-point; }  

// Large Screen Specific Styling
@media only screen and (min-width: 768px) {
  .calculator {
    width: 500px;
    height: 800px;
    border: 20px solid $color-black;
    border-radius: 40px;

    &__display {
      border-radius: 20px 20px 0px 0px;
    }

    .zero {
      border-radius: 0px 0px 0px 20px;
    }
  
    .calculate {
      border-radius: 0px 0px 20px 0px;
    }
  }
}